In [6]:
import pandas as pd
from src.data_scaling import Encoding
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [15]:
data = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI-Projects\\EasyML\\ml_backend\\database\\dummy_csv.csv")

In [16]:
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [17]:
data.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:
encode = Encoding(data, "OneHot Encoding")

In [19]:
encoder = OneHotEncoder()

In [19]:
encoder = LabelEncoder()

In [12]:
data[["Sex"]] = encoder.fit_transform(data[["Sex"]])

In [27]:
data["Sex"] = encoder.fit_transform(data["Sex"])

In [13]:
data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James","(0, 1)\t1.0",34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)","(0, 0)\t1.0",47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis","(0, 1)\t1.0",62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert","(0, 1)\t1.0",27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)","(0, 0)\t1.0",22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf","(0, 1)\t1.0",NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina","(0, 0)\t1.0",39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen","(0, 1)\t1.0",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick","(0, 1)\t1.0",NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J","(0, 1)\t1.0",NaN,1,1,2668,22.3583,NaN,C

In [16]:
encode._label_encoding(["Age"])

c:\Users\ASUS\Desktop\AI-Projects\EasyML\newenv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Columns must be same length as key

In [20]:
encoder.fit_transform(data[["Sex"]])

<418x2 sparse matrix of type '<class 'numpy.float64'>'
	with 418 stored elements in Compressed Sparse Row format>